@import "../../../assets/scss/scss-imports";
span.item {
  font-size: 15px;
}

span.item-name {
  margin-bottom: 0;
}

span.desc {
  color: #9c9c9c;
  font-size: 0.9rem;
  margin-bottom: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.vl {
  border-left: 2px solid grey;
}

.quick-stats {
  margin: 1.5rem;
}

.quick-stats__item {
  padding: .5rem .5rem .45rem;
  border-radius: $border-radius;
  box-shadow: 0 2px 5px rgba(0,0,0,.08);
  margin-bottom: $grid-gutter-width;
  display: flex;
  align-items: flex-start;
}

.quick-stats__info {
  min-width: 0;
  width: 100%;

  margin: 1rem 1rem 1rem;

  div {
    h1, h2 {
      display: flex;
      color: $white;
    }
  }

  & > h1,
  & > h2,
  & > small {
    line-height: 100%;
    @include text-truncate();
  }

  & > h1 {
    font-weight: bold;
    margin: 0.2rem;
    font-size: 1.3rem;
    color: $white;
  }
  & > h2 {
    font-weight: normal;
    margin: 0;
    font-size: 1.3rem;
    color: $white;
  }

  & > small {
    font-size: 1rem;
    display: block;
    color: rgba($white, 0.8);
    margin-top: 0.6rem;
  }
}

.dropdown-menu {
  @include animate(fadeIn, 300ms);
  box-shadow: $dropdown-box-shadow;
}

